/* ==========================================================================
   Base
   ========================================================================== */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html {
    font-size: 1em;
    line-height: 1.4;
}

body {
    color: #666;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
}

ul,
ol {
    list-style-type: none;
}



/* ==========================================================================
   Layout
   ========================================================================== */

header{
  background-color:transparent;
  margin: 0;
  padding: 2px 5px;
  position: absolute;
  height:40px;
  width:100%;

}

header.alt{
  background: black;
  margin: 0;
  padding: 2px 5px;
  height: 60px;
  width: 100%;
}

.brand{
  float: left;
  height: 55px;
  width: 55px;
  padding: 8px;
}

.nav-primary{
  float: right;
  padding: 2px 30px;
}

.nav-primary ul li{
  display:  inline;
  padding: 0 10px 0 0;
}

.nav-primary ul li a{
  color: #fff;
  text-decoration: none;
}

.hero{
  /*background-color: #000;*/
  background: red; /* For browsers that do not support gradients */
 /* For Safari 5.1 to 6.0 */
 background: -webkit-linear-gradient(left,#8585e0,#ccccff,#ffccff,#8585e0);
 /* For Opera 11.1 to 12.0 */
 background: linear-gradient(to right,#8585e0,#ffccff,#ccccff,#8585e0);
  text-align: center;
  min-height: 250px;
  padding: 100px 20px 10px 10px;
}

.hero h1{
  /*margin: 0;*/
  color: #9999ff;
}

.hero p{
color: #9999ff;
}

.main{
  background:#e6ccff;
  float: left;
  padding: 100px 50px;
  width: 100%;
}

.main h1{
  color: #9999ff;
}

.form{
  color: #9999ff;
}

.button{
  text-decoration: none;
  color: white;
}

a.button{
background: #9999ff;
padding: 5px 10px;
border-radius: 15px;
text-decoration: none;
transition-duration: 1.5s;
}

a.button:hover{
  background: #ccf2ff;
  color: #9999ff;
}

.brand:hover{
  opacity: .8;
  transition-duration: 1s;
}

/** contact form here **/

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

/** contact form end here **/

#pagewrap{
  padding: 5px;
  min-height: 700px;
  width: 960px;
  margin: 20px auto;
}

#sidebar-left{
  background: #f8f8f8;
  width: 290px;
  float: left;
  padding: 5px 15px;
}

#middle{
  background: #f8f8f8;
  width: 294px;
  float: left;
  padding: 5px 15px;
  margin: 0px 5px 5px 5px;
}

#sidebar{
  background: #f8f8f8;
  padding: 5px 15px;
  float: left;
  width: 270px;
}
